<div class="modal fade in" id="paidDialog" tabindex="-1" role="dialog" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-blue-gradient">
                <h5 class="modal-title" id="exampleModalLabel">Marcar como Pagado</h5>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de querer marcar este evento como pagado?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa fa-ban"> </i> No</button>
                <button type="button" class="btn btn-success" id="btnYesMarkAsPaid"><i class="fa fa-check-circle"> </i> Sí</button>
            </div>
        </div>
    </div>
</div>
